@model List<HoangHaMobile.Models.CartIterm>

<div class="top-cart-holder dropdown animate-dropdown">

    <div class="right">

        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="basket-item-count">
                <span class="count">@Model.Count</span>
                <img src="/assets/Client/images/icon-cart.png" alt="" />
            </div>

            <div class="total-price-basket">
                <span class="lbl">Giỏ Hàng:</span>

            </div>
        </a>
        <ul class="dropdown-menu">
            @if (Model.Count > 0)
            {
                <li>
                    <div class="basket-item">
                        @foreach (var item in Model)
                        {
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 no-margin text-center">
                                    <div class="thumb">
                                        <img alt="" src="@item.Product.Image" />
                                    </div>
                                </div>
                                <div class="col-xs-8 col-sm-8 no-margin">
                                    <div class="title">@item.Product.Name</div>
                                    <div class="price">@item.Product.Price.Value.ToString("#,##") đ</div>
                                    <a class="close-btn" href="#" data-id="@item.Product.ID"></a>
                                </div>                               
                            </div>
                            <div style="padding: 5px;"></div>
                        }
                    </div>
                </li>
            }
            <li class="checkout">
                <div class="basket-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="\Cart" class="le-button">Giỏ hàng</a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="\" class="le-button">Mua hàng</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div><!-- /.basket -->
</div><!-- /.top-cart-holder -->
